:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color-theme-light: #212121;
  --secondary-text-color-theme-light: #757575;
  --primary-text-color-theme-dark: #ffffff;
  --accent-color: #2196f3;
  --hero-background: #2f303a;
  --theme-light-background: #ffffff;
  --theme-dark-background: #f5f4fa;
  --border: #ececec;
  --icon-social: #afb1b8;
}
